#new-book-btn {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

#new-book-form {
  max-width: 400px; /* Adjust the value as needed */
  margin: 0 auto; /* Center the container horizontally */
  display: none;
}

#library {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.card {
  width: 18rem;
}
